/* Set default html styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body - General styles */
body {
    color: #ffffff;
    min-height: 100vh;
    background-image: url(../images/Quiz\ hero\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* Header */

/* Quiz overview */
.quiz-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}

.quiz-options {
    width: 600px;
    height: 400px;
}

.quiz-options > img {
    width: 100%;
    height: 340px;
}

/* Align text */
.quiz-options > h2 {
    text-align: center;
    padding-top: 5px;
    font-size: 200%;
    color: #ffffff;
}